body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#repeat-order{
    background-color:antiquewhite;
}

#last-order-updated{
    color:blue;  
}